/* .box { */
/* background-color: #fc/0366; */
/* width: 200px; */
/* height: 200px;/ */
/* border: 1px solid black; */
/* margin: 20px;
    padding: 20px; */
/* border-radius: 50%; */
/* } */

/* img {
    max-width: 300px;
}

.box1 {
    width: 200px;
    height: 200px;
    background-color: #fc0366;
    overflow: scroll;
}

h1 {
    border: thick dashed blue;
    padding: 20px 20px 20px 20px;
           /* t    r    b    l */
/* }  */
/* ul {
    list-style-type: ;
} */

/* table {
    border: 1px solid;
} */